*{
  font-family:Roboto, Helvetica, sans-serif;
  padding:0;
  margin:0;
}
body{
  display: flex;
  flex-direction: column;
  min-height:100vh;
  /* justify-content: space-between; */
}
.hor-container{
  display:flex;
}
.ver-container{
  display: flex;
  flex-direction: column;
}
.header, .footer{
  padding-top:16px;
  padding-bottom:16px;
  display: flex;
  /* justify-content: space-between; */
  background-color: #1F2937;
  color:#e5e7eb;
}
.header{
  justify-content: space-around;
  align-items: center ;
}
.logo{
  font-size: 24px;
  color:#f9faf8;
  font-weight: bold;
}
.header ul{
  list-style-type:none;
  display:flex;
  gap:16px;
  padding:0;
  margin:0;
}
.header a{
  font-size: 18px;
  color:#e5e7eb;
  text-decoration: none;
}

#hero{
  padding:64px;
  background-color: #1F2937;
  display:flex;
  flex:1;
  justify-content: center;
  color:#f9faf8;
  gap:16px;

}
.footer{
  justify-content: center;
  align-items: center;
}
#hero .ver-container{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  width: 320px;
  gap:8px;
}
#hero img{
  width: 320px;
  background-color: #e5e7eb;
}
#hero button, #hero a{
  width:80px;
}
#hero button{
  background-color: rgb(102, 102, 249);
  color:#e5e7eb;
  padding: 8px;
  border-radius: 8px;
  border:solid 1px black;
  font-weight: bold;
}
#hero button:hover{
  background-color: rgb(24, 39, 150);
  cursor: pointer;
}
.content{
  flex:1;
  display:flex;
  flex-direction: column;
}
#content-num1{
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 24px;
  text-align:center; 
  font-weight: 750;
  justify-content: center;
  gap:32px;
}
#content-num1 .hor-container{
  display: flex;
  justify-content: center;
  gap:32px;
}
#content-num1 .hor-container figure{
  font-size: small;
  font-weight: 500;
}
#content-num1 img{
  border:solid 3px rgb(101, 101, 164);
  border-radius: 10%;
}
#quote-container{
  justify-content: center;
  align-items:center;
  background-color:rgb(208, 206, 206) ;
  padding:64px;
  height: 120px;
}
#quote-container #main-quote{
  font-size: 36px;
  font-style: italic;
  font-weight:300;
  color:rgb(104, 101, 101);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#quote-container #quote-credits{
  font-size: 16px;
  font-weight: bold;
  align-self: flex-end;
}
#content-num3{
  background-color: rgb(86, 86, 252);
  width:70vw;
  height:120px;
  align-self: center;
  margin-top: 64px;
  margin-bottom: 64px;  
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
  justify-content: space-evenly;
}
#content-num3 button{
  background-color:inherit;
  font-size: 16px;
  font-weight: bold;
  width:120px;
  height:32px;
  color: #e5e7eb;
  border:solid 2px #e5e7eb;
  border-radius: 10%;
}
#content-num3 button:hover{
  cursor: pointer;
}